mixin video(video, avatar)
    a(href=`/videos/${video.id}`).video
        img(src="https://s29843.pcdn.co/blog/wp-content/uploads/sites/2/2019/06/YouTube-Thumbnail-Sizes.png").video_thumbnail
        div.video_details
            if fs.existsSync(avatar)
                img(src="/" + avatar, width="100px").video_details--owner
            else
                img(src=avatar, width="100px").video_details--owner
            div.video_details--text
                h4=video.title
                span #{video.meta.views} Views
                small Created #{video.createdAt.getFullYear()}.#{video.createdAt.getMonth()}.#{video.createdAt.getDate()}
            